@import './fonts.css';

body, html {
    height: 100%;
}
* {
    box-sizing: border-box;
}
body {
    /* brand blue */
    background-color: #22263f;
    @apply font-body;
    line-height: 1.1;
}

p {
    line-height: 2;
}
